# MongoDB Configuration
MONGODB_URI=mongodb+srv://mypassportpulse_db_user:3968jgRgfs2ATxii@paulsir.c2tw4ri.mongodb.net/?appName=paulsir

# JWT Secret for Authentication
JWT_SECRET=paulsir


# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=paulsir



# Admin Credentials (for initial setup)
# ADMIN_EMAIL=admin@paulsirsclasses.com
# ADMIN_PASSWORD=admin123